#principle{
   width: 1250px;
   height : 640px; 
   font-family: 'Knewave', cursive;
    background: radial-gradient(#5a85e8,#131fab);
}
.titleBox{
    width: 100%;
    height: 15%;    
    font-family: 'Knewave', cursive;
    font-size: 30px;
    text-align: center;
    color: rgb(253, 198, 47);
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(110, 110, 110);
    float: left;
}
.letterBox{
    width: 40%;
    height: 85%;
    float: left;
    color: rgb(54, 52, 52);
    text-align: center;
}

.upSide{
    width: 100%;
    height: 40%;
    padding: auto;
    padding-top: 80px;
}
.downSide{
    width: 100%;
    height: 60%;
    padding: auto;
    font-size: 20px;
}

.gameBox{
    width: 60%;
    height: 85%;
    float: left;
}
.game1{
    width: 700px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    margin:20px;
    margin-left: 10px;
    margin-top: 70px;
    justify-content: center;
    perspective: 500px;
}
.card{ 
    height: 105px;
    width : 90px;
    position: relative;
}
.card-face{
    justify-items: center;
    position: absolute;
    align-items: center;
    display: flex;
    overflow: hidden;
    backface-visibility: hidden;
    transition:  transform 500ms ease-in-out;
}
.card-front{
    transform: rotateY(-180deg);
}
.card-back{
    justify-items: center;
    position: absolute;
    align-items: center;
    display: flex;
    align-self: flex-start;
    line-height: 105px;
    backface-visibility: hidden;
}
.card-backImg{
    height: 105px;
    width : 90px;
}
.card.visible .card-back{
    transform: rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}
.card.visibleFix .card-back{
    transform: rotateY(-180deg);
}
.card.visibleFix .card-front{
    transform: rotateY(0);
}
.card.matched .frontPicture{
    animation: dance 1s 2 200ms;
    animation-timing-function: ease;
}
@keyframes dance{
    0%, 100%{ transform:rotate(0); }
    25% { transform:rotate(-30deg); }
    75% { transform:rotate(30deg); }
}
.frontSideEmpty{
    height: 105px;
    width : 90px;
}
.frontPicture{
    position: absolute;
    height: 65px;
    width: 65px;
    left: 12px;
}
.victoryFinish{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* pour tous les background */
    padding-top: 200px;
    align-items: center;
    z-index: 100;
    color: tomato;
}
.overlaySmall{
    font-size: .3em;
}
.victoryFinish.visible{
    display: flex;
    animation: appear 1500ms forwards;
    flex-direction: column;
}

@keyframes appear{
    from{
        background-color: black;
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, 0.712);
        font-size: 100px;
    }
}
.overlaySmall:hover{
    font-size: .4em;
}